:root {
  --primary-highlight: rgb(75.45% 92.12% 91.99%);
  --secondary-highlight: rgb(91.45% 87.01% 98.39%);
  --active-item-background: #ddd;
  --id-text-color: rgba(0, 0, 0, 0.75);
  --id-text-color-hover: rgba(0, 0, 0, 0.75);
  --id-background-color-hover: rgba(0, 0, 0, 0.125);
  --field-text-color: rgba(0, 0, 0, 0.625);
  --title-color: black;
  --tag-text-color: rgba(0, 0, 0, 0.625);
  --tag-border-color: #b2b2b2;
  --tag-background-color: white;
  --state-unknown-background-color: #b2b2b2;
  --state-removed-border-color: #b2b2b2;
  --status-bar-normal-background-color: #eaeaea;
  --status-bar-error-background-color: #fff4ce;
  --matched-item-border-color: black;
  --matched-item-text-color: black;
  --query-background-color: white;
}

#root {
  height: 400px;
}

body {
  width: 600px;
}

.query-bar {
  background: var(--query-background-color);
}

.query-bar__input-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 16px;
}

.query-bar__input {
  font-size: 14px;
  padding: 2px 4px;
  width: 100%;
}

.stack-layout {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.type-filter-list {
  display: flex;
  gap: 8px;
}

.work-item-list {
  list-style: none;
  overflow-y: scroll;
}

.work-item {
  padding-block: 4px;
  contain: layout style paint;
  display: grid;
  grid-template-columns: auto auto 1fr;
  font-size: 14px;
  line-height: 18px;
}
.work-item[data-item-active="true"] {
  background-color: var(--active-item-background);
}

.work-item__icon-interaction {
  cursor: cell;
  padding-inline-end: 4px; /* increase hit target */
}

.work-item__icon {
  transform: translateY(1px);
  display: block;
  width: 16px;
  height: 16px;
}

.work-item__id {
  height: 18px; /* Match indicator height when wrapping */
  display: inline-flex;
  align-items: center;
  color: var(--id-text-color);
  cursor: default;
}
.work-item__id:hover {
  color: var(--id-text-color-hover);
  background-color: var(--id-background-color-hover);
}

.work-item__link {
  text-decoration: none;
  font-weight: 500;
  color: var(--title-color);

  overflow-wrap: break-word; /* not supported in Safari */
  word-break: break-word; /* deprecated in Chrome, but needed in Safari */
}

.work-item__link mark {
  background-color: var(--primary-highlight);
}

.work-item__link:where(:hover) {
  text-decoration: underline;
}

.work-item--message {
  padding-inline: 4px;
}

.work-item__placeholder {
  height: 45px;
}

.work-item__state-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 2px;
  background-color: var(--state-color, var(--state-unknown-background-color));
}
.work-item__state-bar:where([data-state-category="Removed"]) {
  background-color: transparent;
  border: 1px solid var(--state-removed-border-color);
}
.work-item__state-interaction {
  display: inline-block;
  padding-inline: 4px;
  cursor: help;
}

.work-item__tag {
  font-size: 12px;
  height: 18px;
  margin-block: 1px;
  padding-inline: 2px;
  color: var(--tag-text-color);
  background-color: var(--tag-background-color);
  border: 1px solid var(--tag-border-color);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  max-width: 32ch;
}

.work-item__tag-overflow-guard {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.work-item__type,
.work-item__state,
.work-item__path,
.work-item__assigned-to {
  color: var(--field-text-color);
  white-space: nowrap;
}

.work-item__matchable[data-matched="true"] {
  background-color: var(--secondary-highlight);
  color: var(--matched-item-text-color);
  border-color: var(--matched-item-border-color);
}

.status-bar {
  padding: 4px;
  background: var(--status-bar-normal-background-color);
  font-size: 12px;
}

.status-bar--error {
  background-color: var(--status-bar-error-background-color);
}

.status-bar__action {
  margin-left: 4px;
}
