:root {
  --page-background-color: #eaeaea;
  --input-border-color: #666;
  --input-background-color: white;
  --key-name-border-color: #999;
  --key-name-text-color: #333;
  --key-name-background-color: white;
  --label-hint-color: #333;
  --table-border-color: #999;
}

body {
  background-color: var(--page-background-color);
}

.form-actions {
  padding-top: 16px;
  display: grid;
  gap: 8px;
}

.form-actions button {
  padding: 4px 16px;
  font-weight: 500;
  font-size: 16px;
}

.form-field {
  display: grid;
  grid-template:
    "label" auto
    "field" auto / 1fr;
  gap: 4px;
}

.form-field label {
  grid-area: label;

  font-weight: 500;
  font-size: 16px;
}
.form-field input {
  grid-area: field;

  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
}
.form-section {
  display: grid;
  gap: 12px;
}

.info-section {
  margin-top: 32px;
  text-align: center;
}

.key-name {
  border: 1px solid var(--key-name-border-color);
  color: var(--key-name-text-color);
  border-radius: 4px;
  background-color: var(--key-name-background-color);
  padding-inline: 4px;
}

.label-hint {
  font-size: 14px;
  color: var(--label-hint-color);
}
.label-hint a {
  color: inherit;
}

.launch-icon {
  vertical-align: bottom;
  padding-inline: 4px;
}

.status-output {
  display: grid;
  gap: 4px;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
}

.setup-window {
  padding: 16px;
  display: grid;
  gap: 16px;
  align-content: start;
  padding-top: 32px;
  padding-bottom: 64px;

  max-width: 800px;
  margin: auto;
}

.setup-form {
  display: grid;
  gap: 8px;
}

.shortcuts-section {
  margin-top: 32px;
}

.shortcuts-table {
  margin-top: 16px;
  border-collapse: collapse;
  width: 100%;
}

.shortcuts-table,
.shortcuts-table :where(th, td) {
  text-align: left;
  border: 1px solid var(--table-border-color);
}
.shortcuts-table :where(th, td) {
  padding: 8px;
}
.shortcuts-tip {
  font-size: 16px;
  color: var(--label-hint-color);
  margin-top: 16px;
  margin-bottom: 8px;
}
.shortcuts-tip + .shortcuts-tip {
  margin-top: 8px;
}

.syntax-section {
  margin-top: 32px;
}

.url-tooltip {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.u-no-wrap {
  white-space: nowrap;
}
