body {
  background-color: #eaeaea;
}

.form-actions {
  padding-top: 16px;
  display: grid;
  gap: 8px;
}

.form-actions button {
  padding: 4px 16px;
  font-weight: 500;
  font-size: 16px;
}

.form-field {
  display: grid;
  grid-template:
    "label" auto
    "field" auto / 1fr;
  gap: 4px;
}

.form-field label {
  grid-area: label;

  font-weight: 500;
  font-size: 16px;
}
.form-field input {
  grid-area: field;

  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #666;
  background-color: white;
}
.form-section {
  display: grid;
  gap: 12px;
}

.key-name {
  border: 1px solid #999;
  border-radius: 4px;
  background-color: white;
  padding-inline: 4px;
}

.label-hint {
  font-size: 14px;
  color: #333;
}
.label-hint a {
  color: inherit;
}

.launch-icon {
  vertical-align: bottom;
  padding-inline: 4px;
}

.status-output {
  display: grid;
  gap: 4px;
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #666;
  background-color: white;
}

.setup-window {
  padding: 16px;
  display: grid;
  gap: 16px;
  align-content: start;

  max-width: 800px;
  margin: auto;
}

.setup-form {
  display: grid;
  gap: 8px;
}

.shortcuts-section {
  margin-top: 32px;
}

.shortcuts-table {
  margin-top: 16px;
  border-collapse: collapse;
  width: 100%;
}

.shortcuts-table,
.shortcuts-table :where(th, td) {
  border: 1px solid #999;
}
.shortcuts-table :where(th, td) {
  padding: 8px;
}

.url-tooltip {
  cursor: help;
  text-decoration: underline;
  text-decoration-style: dotted;
}
