#root {
  height: 400px;
  overflow-y: scroll;
}

.query-bar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.query-bar__input-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 16px;
}

.query-bar__input {
  font-size: 14px;
  padding: 2px 4px;
  width: 100%;
}

.stack-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.type-filter-list {
  display: flex;
  gap: 8px;
}

.work-item-list {
  list-style: none;
}

.work-item {
  padding: 4px;
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 4px;
  font-size: 14px;
}

.work-item__icon {
  transform: translateY(1px);
}

.work-item__id {
  color: #333;
}
.work-item__id:hover {
  background-color: #ccc;
}

.work-item__link {
  text-decoration: none;
  font-weight: 500;
  color: black;

  overflow-wrap: break-word; /* not supported in Safari */
  word-break: break-word; /* deprecated in Chrome, but needed in Safari */
}
.work-item__link:where(:hover) {
  text-decoration: underline;
}

.work-item__state {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 2px;
  background-color: #b2b2b2;
}
.work-item__state[title="Completed"] {
  background-color: #339933;
}
.work-item__state:where([title="Started"], [title="Committed"], [title="Resolved"]) {
  background-color: #007acc;
}
.work-item__state:where([title="Cut"]) {
  background-color: transparent;
  border: 1px solid #b2b2b2;
}

.work-item__type,
.work-item__path,
.work-item__assigned-to {
  color: #666;
  white-space: nowrap;
}

.work-item__type::after,
.work-item__assigned-to::after {
  content: " ·";
}

.status-bar {
  position: sticky;
  bottom: 0;
  padding: 4px;
  background: #eaeaea;
  font-size: 12px;
}
