.advanced-actions {
  padding-top: 8px;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
}

.form-actions {
  padding-top: 16px;
  display: grid;
  gap: 8px;
}

.form-actions button {
  padding: 4px 16px;
  font-weight: 500;
  font-size: 16px;
}

.form-field {
  display: grid;
  grid-template:
    "label" auto
    "field" auto / 1fr;
  gap: 4px;
}

.form-field label {
  grid-area: label;

  font-weight: 500;
  font-size: 16px;
}
.form-field input {
  grid-area: field;

  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #666;
  background-color: white;
}
.form-section {
  display: grid;
  gap: 8px;
}

.label-hint {
  font-size: 14px;
  color: #333;
}
.label-hint a {
  color: inherit;
}

.status-output {
  padding: 4px 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #666;
  background-color: white;
}

.setup-window {
  padding: 16px;
  display: grid;
  gap: 12px;
  align-content: start;

  max-width: 800px;
  margin: auto;
}

.setup-form {
  display: grid;
  gap: 8px;
}
